{**
 * @param string $basePath web base path
 * @param array $flashes flash messages
 *}
<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Sandbox</title>
	<link rel="stylesheet" href="{$basePath}/res/bundle.css">
	<script src="{$basePath}/res/bundle.js"></script>
	<meta name="viewport" content="width=device-width">
	{block head}{/block}
</head><body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}
</body></html>
